comtypes==1.4.16
greenlet==3.5.1
keyboard==0.13.5
packaging==26.2
pillow==12.2.0
playwright==1.60.0
pyee==13.0.1
PyGetWindow==0.0.9
PyRect==0.2.0
pytesseract==0.3.13
pywin32==311
pywinauto==0.6.9
six==1.17.0
typing_extensions==4.15.0
